<a href="https://colab.research.google.com/github/EmilioSaulG/practicando_con_pandas/blob/main/PandasE_S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Leyendo archivo CSV**

**Importando archivo**

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('superstore_data.csv')

In [ ]:
datos.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [ ]:
datos_punto_coma = pd.read_csv('superstore_data_punto_coma.csv')

In [ ]:
datos_punto_coma.head()

  Id;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;Response;Complain
0  1826;1970;Graduation;Divorced;84835;0;0;6/16/2...
1  1;1961;Graduation;Single;57091;0;0;6/15/2014;0...
2  10476;1958;Graduation;Married;67267;0;1;5/13/2...
3  1386;1967;Graduation;Together;32474;1;1;11/5/2...
4  5371;1989;Graduation;Single;21474;1;0;8/4/2014...

**Parámetros de la función read_csv**

In [ ]:
datos_punto_coma = pd.read_csv('superstore_data_punto_coma.csv', sep = ';')

In [ ]:
datos_punto_coma.head(10)

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
5,7348,1958,PhD,Single,71691.0,0,0,3/17/2014,0,336,...,240,32,43,1,4,7,5,2,1,0
6,4073,1954,2n Cycle,Married,63564.0,0,0,1/29/2014,0,769,...,15,34,65,1,10,10,7,6,1,0
7,1991,1967,Graduation,Together,44931.0,0,1,1/18/2014,0,78,...,0,0,7,1,2,1,3,5,0,0
8,4047,1954,PhD,Married,65324.0,0,1,11/1/2014,0,384,...,21,32,5,3,6,2,9,4,0,0
9,9477,1954,PhD,Married,65324.0,0,1,11/1/2014,0,384,...,21,32,5,3,6,2,9,4,0,0

In [ ]:
datos_primeras_lineas = pd.read_csv('superstore_data.csv' , nrows = 5)
datos_primeras_lineas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [ ]:
datos_seleccion = pd.read_csv('superstore_data.csv' , usecols = ['Id','Year_Birth','Income'])
datos_seleccion

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

In [ ]:
datos_seleccion = pd.read_csv('superstore_data.csv' , usecols = [1,2,4])
datos_seleccion

      Year_Birth   Education   Income
0           1970  Graduation  84835.0
1           1961  Graduation  57091.0
2           1958  Graduation  67267.0
3           1967  Graduation  32474.0
4           1989  Graduation  21474.0
...          ...         ...      ...
2235        1976         PhD  66476.0
2236        1977    2n Cycle  31056.0
2237        1976  Graduation  46310.0
2238        1978  Graduation  65819.0
2239        1969         PhD  94871.0

[2240 rows x 3 columns]

# **Escribiendo archivo csv**

In [ ]:
datos_seleccion.to_csv('clientes_mercado.csv')

In [ ]:
clientes_mercado = pd.read_csv('clientes_mercado.csv')
clientes_mercado

      Unnamed: 0  Year_Birth   Education   Income
0              0        1970  Graduation  84835.0
1              1        1961  Graduation  57091.0
2              2        1958  Graduation  67267.0
3              3        1967  Graduation  32474.0
4              4        1989  Graduation  21474.0
...          ...         ...         ...      ...
2235        2235        1976         PhD  66476.0
2236        2236        1977    2n Cycle  31056.0
2237        2237        1976  Graduation  46310.0
2238        2238        1978  Graduation  65819.0
2239        2239        1969         PhD  94871.0

[2240 rows x 4 columns]

In [ ]:
datos_seleccion.to_csv('datos_mercado.csv', index = False)

In [ ]:
datos_mercado = pd.read_csv('datos_mercado.csv')
datos_mercado

      Year_Birth   Education   Income
0           1970  Graduation  84835.0
1           1961  Graduation  57091.0
2           1958  Graduation  67267.0
3           1967  Graduation  32474.0
4           1989  Graduation  21474.0
...          ...         ...      ...
2235        1976         PhD  66476.0
2236        1977    2n Cycle  31056.0
2237        1976  Graduation  46310.0
2238        1978  Graduation  65819.0
2239        1969         PhD  94871.0

[2240 rows x 3 columns]

# **Leyendo archivos Excel**

**Importando archivos Excel**

In [ ]:
import pandas as pd

In [ ]:
archivo = 'emisiones_CO2.xlsx'

In [ ]:
datos_co2 = pd.read_excel(archivo)

In [ ]:
datos_co2

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,3.609674e+10,1.450697e+10,1.224263e+10,7.144928e+09,1.507923e+09,391992176.0,302294047.0,4749682.0
63100,Global,WLD,2018,3.682651e+10,1.474683e+10,1.226602e+10,7.529847e+09,1.569218e+09,412115746.0,302478706.0,4792753.0
63101,Global,WLD,2019,3.708256e+10,1.472598e+10,1.234565e+10,7.647528e+09,1.617507e+09,439253991.0,306638573.0,4775633.0
63102,Global,WLD,2020,3.526409e+10,1.417456e+10,1.119181e+10,7.556290e+09,1.637538e+09,407583673.0,296301685.0,4497423.0
63103,Global,WLD,2021,3.712385e+10,1.497960e+10,1.183716e+10,7.921829e+09,1.672592e+09,416525563.0,296145746.0,4693699.0

In [ ]:
pd.ExcelFile(archivo).sheet_names

['emisiones_C02', 'emisiones_percapita', 'fuentes']

# **Parámetros de la función read_excel**

In [ ]:
percapita = pd.read_excel(archivo, sheet_name = 'emisiones_percapita' )

In [ ]:
percapita.tail(10)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
63094,Global,WLD,2012,4887984.0,2083690.0,1611588.0,907689.0,193330.0,53109.0,38578.0
63095,Global,WLD,2013,4871215.0,2072173.0,1603516.0,902344.0,199168.0,53449.0,40565.0
63096,Global,WLD,2014,4847727.0,2050890.0,1591329.0,906737.0,204375.0,52855.0,41541.0
63097,Global,WLD,2015,4788002.0,1980730.0,1606343.0,914022.0,194495.0,51643.0,40768.0
63098,Global,WLD,2016,4728065.0,1911314.0,1600303.0,928152.0,197993.0,50361.0,39942.0
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

In [ ]:
fuentes = pd.read_excel(archivo, sheet_name = 'fuentes' )

In [ ]:
fuentes.tail(10)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
63094,Global,WLD,2012,CDIAC 2022 and Sum of countries,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],"CDIAC 2022, Sum of countries, and UN population"
63095,Global,WLD,2013,CDIAC 2022 and Sum of countries,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],"CDIAC 2022, Sum of countries, and UN population"
63096,Global,WLD,2014,CDIAC 2022 and Sum of countries,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],"CDIAC 2022, Sum of countries, and UN population"
63097,Global,WLD,2015,CDIAC 2022 and Sum of countries,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],"CDIAC 2022, Sum of countries, and UN population"
63098,Global,WLD,2016,CDIAC 2022 and Sum of countries,CDIAC 2022,CDIAC 2022,CDIAC 2022,Andrew cement,CDIAC 2022,[NONE],"CDIAC 2022, Sum of countries, and UN population"
63099,Global,WLD,2017,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63100,Global,WLD,2018,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63101,Global,WLD,2019,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63102,Global,WLD,2020,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63103,Global,WLD,2021,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."

In [ ]:
intervalo = pd.read_excel(archivo, sheet_name = 'emisiones_C02', usecols = 'A:D' )

In [ ]:
intervalo

             País ISO 3166-1 alpha-3   Año         Total
0      Afganistán                AFG  1750  0.000000e+00
1      Afganistán                AFG  1751  0.000000e+00
2      Afganistán                AFG  1752  0.000000e+00
3      Afganistán                AFG  1753  0.000000e+00
4      Afganistán                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

In [ ]:
intervalo_2 = pd.read_excel(archivo, sheet_name = 'emisiones_C02', usecols = 'A:D', nrows = 10 )

In [ ]:
intervalo_2

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0

# **Escribiendo archivos Excel**

In [ ]:
intervalo.to_excel('co2_percapita.xlsx' , index = False)

In [ ]:
df_e = pd.read_excel('co2_percapita.xlsx')

In [ ]:
df_e

             País ISO 3166-1 alpha-3   Año         Total
0      Afganistán                AFG  1750  0.000000e+00
1      Afganistán                AFG  1751  0.000000e+00
2      Afganistán                AFG  1752  0.000000e+00
3      Afganistán                AFG  1753  0.000000e+00
4      Afganistán                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

# **Leyendo datos de Google Sheets**

link: https://docs.google.com/spreadsheets/d/1mTq2QNxDEnVjOZiJF2LdA2pro_BhTtlhTFWA8zcIVtA/edit?usp=sharing

In [ ]:
sheet_id = '1mTq2QNxDEnVjOZiJF2LdA2pro_BhTtlhTFWA8zcIVtA'
url_co2 = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [ ]:
datos_co2_sheets = pd.read_csv(url_co2)

In [ ]:
datos_co2_sheets

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,"36,096,739,276","14,506,973,805","12,242,627,935","7,144,928,128","1,507,923,185","391,992,176","302,294,047","4,749,682"
63100,Global,WLD,2018,"36,826,506,600","14,746,830,688","12,266,016,285","7,529,846,784","1,569,218,392","412,115,746","302,478,706","4,792,753"
63101,Global,WLD,2019,"37,082,558,969","14,725,978,025","12,345,653,374","7,647,528,220","1,617,506,786","439,253,991","306,638,573","4,775,633"
63102,Global,WLD,2020,"35,264,085,734","14,174,564,010","11,191,808,551","7,556,290,283","1,637,537,532","407,583,673","296,301,685","4,497,423"
63103,Global,WLD,2021,"37,123,850,352","14,979,598,083","11,837,159,116","7,921,829,472","1,672,592,372","416,525,563","296,145,746","4,693,699"

In [ ]:
sheet_id = '1mTq2QNxDEnVjOZiJF2LdA2pro_BhTtlhTFWA8zcIVtA'
sheet_name = 'emisiones_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
percapita_sheets = pd.read_csv(url_percapita)

In [ ]:
percapita_sheets

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,"4,749,682","1,908,857","1,610,910","940,144","198,416","51,579","39,776"
63100,Global,WLD,2018,"4,792,753","1,919,213","1,596,350","979,965","204,225","53,634","39,366"
63101,Global,WLD,2019,"4,775,633","1,896,468","1,589,920","984,878","208,309","56,569","39,490"
63102,Global,WLD,2020,"4,497,423","1,807,760","1,427,353","963,695","208,844","51,981","37,789"
63103,Global,WLD,2021,"4,693,699","1,893,923","1,496,614","1,001,585","211,472","52,663","37,443"

In [ ]:
sheet_id = '1mTq2QNxDEnVjOZiJF2LdA2pro_BhTtlhTFWA8zcIVtA'
sheet_name = 'fuentes'
url_fuentes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
fuentes_sheets = pd.read_csv(url_fuentes)

In [ ]:
fuentes_sheets.tail()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
63099,Global,WLD,2017,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63100,Global,WLD,2018,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63101,Global,WLD,2019,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63102,Global,WLD,2020,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63103,Global,WLD,2021,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."

# **Leyendo archivos JSON**

# **Importando archivos JSON**

In [ ]:
import pandas as pd

In [ ]:
datos_pacientes = pd.read_json('pacientes.json')

In [ ]:
datos_pacientes

,ID_paciente,Enfermedad_corazon,IMC,Fumador,Consumo_alcohol,AVC,Salud_fisica,Salud_mental,Dificultad_caminar,Sexo_biologico,Rango_edad,Raza,Diabetes,Actividad_fisica,Salud_general,Horas_sueño,Asma,Enfermedad_renal,Cancer_piel
0,0,No,16.60,Sí,No,No,3,30,No,Femenino,55-59,Blanca,Sí,Sí,Muy buena,5,Sí,No,Sí
1,1,No,20.34,No,No,Sí,0,0,No,Femenino,80 ó +,Blanca,No,Sí,Muy buena,7,No,No,No
2,2,No,26.58,Sí,No,No,20,30,No,Masculino,65-69,Blanca,Sí,Sí,Razonable,8,Sí,No,No
3,3,No,24.21,No,No,No,0,0,No,Femenino,75-79,Blanca,No,No,Buena,6,No,No,Sí
4,4,No,23.71,No,No,No,28,0,Sí,Femenino,40-44,Blanca,No,Sí,Muy buena,8,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,No,28.29,Sí,No,No,10,20,No,Femenino,65-69,Negra,Sí,Sí,Razonable,8,No,No,No
996,996,No,25.69,Sí,No,No,0,0,No,Femenino,75-79,Blanca,No,Sí,Excelente,8,No,No,No
997,997,Sí,26.99,No,No,No,1,0,No,Masculino,70-74,Blanca,No,Sí,Muy buena,8,No,No,No
998,998,No,44.29,No,No,No,30,0,Sí,Femenino,70-74,Blanca,Sí,No,Buena,6,Sí,No,No
999,999,No,25.83,No,No,No,0,0,No,Masculino,70-74,Negra,Sí,No,Excelente,7,No,No,No

In [ ]:
datos_pacientes_2 = pd.read_json('pacientes_2.json')

In [ ]:
datos_pacientes_2

,Investigación,Año,Pacientes
0,Indicadores clave de enfermedades cardíacas,2020,"{'ID': '01', 'Rango_edad': '55-59', 'Sexo_biol..."
1,Indicadores clave de enfermedades cardíacas,2020,"{'ID': '02', 'Rango_edad': '80 ó +', 'Sexo_bio..."
2,Indicadores clave de enfermedades cardíacas,2020,"{'ID': '03', 'Rango_edad': '65-69', 'Sexo_biol..."

**Normalizando archivos json**

In [ ]:
df_normalizado = pd.json_normalize(datos_pacientes_2['Pacientes'])

In [ ]:
df_normalizado

,ID,Rango_edad,Sexo_biologico,Raza,IMC,Fumador,Consumo_alcohol,Salud_física,Salud_mental,Dificultad_caminar,Actividad_física,Salud_general,Horas_sueño,Problemas_salud
0,01,55-59,Mujer,Blanca,16.60,Sí,No,3,30,No,Sí,Muy buena,5,"[Diabetes, Asma, Cancer_piel]"
1,02,80 ó +,Mujer,Blanca,20.34,No,No,0,0,No,Sí,Muy buena,7,[AVC]
2,03,65-69,Masculino,Blanca,26.58,Sí,No,20,30,No,Sí,Muy buena,8,"[Diabetes, Asma]"

In [ ]:
df_normalizado.to_json('historico_pacientes_norm.json')

In [ ]:
pd.read_json('historico_pacientes_norm.json')

,ID,Rango_edad,Sexo_biologico,Raza,IMC,Fumador,Consumo_alcohol,Salud_física,Salud_mental,Dificultad_caminar,Actividad_física,Salud_general,Horas_sueño,Problemas_salud
0,1,55-59,Mujer,Blanca,16.60,Sí,No,3,30,No,Sí,Muy buena,5,"[Diabetes, Asma, Cancer_piel]"
1,2,80 ó +,Mujer,Blanca,20.34,No,No,0,0,No,Sí,Muy buena,7,[AVC]
2,3,65-69,Masculino,Blanca,26.58,Sí,No,20,30,No,Sí,Muy buena,8,"[Diabetes, Asma]"

# **Leyendo páginas en HTML y XML**

In [ ]:
import pandas as pd

In [ ]:
datos_peli = pd.read_html('peliculas_wikipedia.html')

In [ ]:
datos_peli

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                             Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns],
           hidevteAFI's 100 Years...100 Movies (1998)  \
 0  Citizen Kane (1941) Casablanca (1942) The Godf...

         hidevteAFI's 100 Years...100 Movies (1998).1
 0  Citizen Kane (1941) Casablanca (1942) The Godf...  ]

In [ ]:
type(datos_peli)

list

In [ ]:
len(datos_peli)

3

In [ ]:
top_peliculas = datos_peli[1]

In [ ]:
top_peliculas

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

**Convirtiendo en HTML**

In [ ]:
top_peliculas.to_html('top_peliculas.html', index = False)

In [ ]:
pd.read_html('top_peliculas.html')

[                            Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns]]

In [ ]:
top_peliculas.to_csv('top_peliculas_1998.csv', index = False)

In [ ]:
datos = pd.read_csv('top_peliculas_1998.csv')
datos.head(10)

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
5,The Wizard of Oz,1939,Victor Fleming,Metro-Goldwyn-Mayer,6
6,The Graduate,1967,Mike Nichols,Lawrence Turman,7
7,On the Waterfront,1954,Elia Kazan,Horizon-American Pictures,8
8,Schindler's List,1993,Steven Spielberg,Amblin Entertainment,9
9,Singin' in the Rain,1952,"Gene Kelly, Stanley Donen",Metro-Goldwyn-Mayer,10

**Leyendo/escrbiendo archivos XML**

In [ ]:
import pandas as pd

In [ ]:
datos_imdb = pd.read_xml('imdb_top_1000.xml')

In [ ]:
datos_imdb.head(10)

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
6,6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
7,7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
8,8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
9,9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

In [ ]:
datos_imdb.to_xml('pelis_imdb.xml')

# **Leyendo un banco de datos**

In [2]:
import sqlalchemy

In [3]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [4]:
engine = create_engine('sqlite:///:memory:')

**Escribiendo un banco de datos**

In [5]:
import pandas as pd

In [6]:
archivo = 'clientes_banco.csv'

In [7]:
datos = pd.read_csv(archivo)

In [8]:
datos.head(10)

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1.0,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
5,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
6,5008811,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
7,5008812,61,Nivel superior,Divorciado,1,Pensionista,Otro,0,283500.0,0.0,Casa/Departamento propio
8,5008813,61,Nivel superior,Divorciado,1,Pensionista,Otro,0,283500.0,0.0,Casa/Departamento propio
9,5008814,61,Nivel superior,Divorciado,1,Pensionista,Otro,0,283500.0,0.0,Casa/Departamento propio

In [9]:
datos.to_sql('clientes', engine , index = False)

191708

In [10]:
inspector = inspect(engine)

In [11]:
print(inspector.get_table_names())

['clientes']

**Leyendo una consulta SQL**

In [12]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renta = "Empleado"'

In [13]:
pd.read_sql(query, engine)

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1.0,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1.0,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
97941,5877362,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97942,5877363,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97943,5877364,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97944,5877371,36,Nivel intermedio,Casado,3,Empleado,Chofer,7,157500.0,1.0,Departamento alquilado
97945,5877373,36,Nivel intermedio,Casado,3,Empleado,Chofer,7,157500.0,1.0,Departamento alquilado

In [14]:
empleados = pd.read_sql(sql=text(query), con = engine.connect())

In [15]:
type(empleados)

pandas.core.frame.DataFrame

In [16]:
len(empleados)

97946

In [17]:
empleados

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1.0,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1.0,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
97941,5877362,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97942,5877363,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97943,5877364,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97944,5877371,36,Nivel intermedio,Casado,3,Empleado,Chofer,7,157500.0,1.0,Departamento alquilado
97945,5877373,36,Nivel intermedio,Casado,3,Empleado,Chofer,7,157500.0,1.0,Departamento alquilado

In [18]:
empleados.to_sql('empleados', con = engine.connect(), index = False)

97946

In [19]:
pd.read_sql_table('empleados', con = engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1.0,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1.0,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
97941,5877362,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97942,5877363,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97943,5877364,46,Nivel intermedio,Casado,3,Empleado,Chofer,3,405000.0,1.0,Casa/Departamento propio
97944,5877371,36,Nivel intermedio,Casado,3,Empleado,Chofer,7,157500.0,1.0,Departamento alquilado
97945,5877373,36,Nivel intermedio,Casado,3,Empleado,Chofer,7,157500.0,1.0,Departamento alquilado

In [20]:
pd.read_sql_table('empleados', con = engine.connect(), columns = ['ID_Cliente','Grado_estudio','Rendimiento_anual'])

       ID_Cliente     Grado_estudio  Rendimiento_anual
0         5008804    Nivel superior           427500.0
1         5008805    Nivel superior           427500.0
2         5008806  Nivel intermedio           112500.0
3         5008815    Nivel superior           270000.0
4         5112956    Nivel superior           270000.0
...           ...               ...                ...
97941     5877362  Nivel intermedio           405000.0
97942     5877363  Nivel intermedio           405000.0
97943     5877364  Nivel intermedio           405000.0
97944     5877371  Nivel intermedio           157500.0
97945     5877373  Nivel intermedio           157500.0

[97946 rows x 3 columns]

**Actualizando un banco de datos**

In [21]:
query = 'SELECT * FROM clientes'

In [22]:
pd.read_sql(sql=text(query), con = engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1.0,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
191703,5877377,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191704,5877378,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191705,5877380,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191706,5877382,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191707,5877383,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,1,NaN,NaN,None

In [23]:
#Borrando un registro
from sqlalchemy.exc import SQLAlchemyError
query = 'DELETE FROM clientes WHERE ID_Cliente=5008804'
try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros borrados: ", r_set.rowcount)

#Registros borrados:  1

In [24]:
pd.read_sql_table('clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
1,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1.0,Casa/Departamento propio
2,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
3,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
4,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
191702,5877377,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191703,5877378,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191704,5877380,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191705,5877382,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191706,5877383,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,1,NaN,NaN,None

In [25]:
#Actualizandp un registro

query = "UPDATE clientes SET Grado_estudio='Nivel superior' WHERE ID_Cliente=5008808"
try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros actualizados: ", r_set.rowcount)

#Registros actualizados:  1

In [26]:
pd.read_sql_table('clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1.0,Departamento alquilado
1,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1.0,Casa/Departamento propio
2,5008808,52,Nivel superior,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
3,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
4,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
191702,5877377,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191703,5877378,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191704,5877380,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191705,5877382,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,14,135000.0,0.0,Casa/Departamento propio
191706,5877383,46,Nivel intermedio,Casado,2,Business Partner,Construcción Civil,1,NaN,NaN,None

In [27]:
inspector = inspect(engine)
print(inspector.get_table_names())

['clientes', 'empleados']